@font-face {
  font-family: 'American Captain';
  src: url('/fonts/american_captain/American Captain.ttf') format('truetype'),
       url('/fonts/american_captain/American Captain.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/OutfitMedium.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* You can use the fonts in your CSS like this: */
.american-captain {
  font-family: 'American Captain', Helvetica, sans-serif;
}

.outfit {
  font-family: 'Outfit', Helvetica, sans-serif;
}